.cryptoBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    height: 90vh;
    width: 100%;
}
footer {
    display: flex;
    justify-content: center;
}
button {
    transition: .2s ease all;
}
.stockContainer {
    display: flex;
    align-items: flex-end;
    height: 90vh;
    width: 100%;
    justify-content: center;
}
.stock {
    display: flex;
    width: 10vh;
    background-color: green;
    height: 0vh;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
}
#buyPlace {
    display: flex;
    width: 10vh;
    background-color: rgb(2, 162, 255);
    height: 0vh;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
}
* {
    /*border: 2px solid brown;*/
}
body {
    margin: 0;
    overflow: hidden;
}